/*nav-back*/

.nav-back {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height:65px;
    background-color:maroon;
    box-shadow: 0 2px 0 rgba(0);
    z-index: 10; 
    font-family:georgia;
    line-height: 410%;
  }

  .nav-list-back {
    color:maroon;
    display: flex;
    margin-right: 2rem;
    margin-top: flex;
  }
  @media(max-width: 35.0px){
      .nav-back{
          justify-content: center;
        }
  }
    .nav-back {
      justify-content: flex;
    }

    .nav-list-back {
      margin: 0 2rem;
    }

  .nav-list-back a {
    font-size: 3rem;
    color:blanchedalmond;
    text-decoration:none;
  }

  .nav-list-back a:hover {
    color:white;
  }

 /*Gallery*/
  
  .Gallery-Project {
    text-align: center;
    font-size: 50px;
    background-color:teal;
    
  }
  div.gallery {
    margin: 125px;
    float: left;
    width: 160px;
  
  }
  div.gallery img {
    width: 400px;
    height: 550px;
    
  }